@font-face { font-family: AvenirNextCyr-Bold; src: url(AvenirNextCyr-Bold.ttf) }
@font-face { font-family: AvenirNextCyr-BoldItalic; src: url(AvenirNextCyr-BoldItalic.ttf) }
@font-face { font-family: AvenirNextCyr-Demi; src: url(AvenirNextCyr-Demi.ttf) }
@font-face { font-family: AvenirNextCyr-DemiItalic; src: url(AvenirNextCyr-DemiItalic.ttf) }
@font-face { font-family: AvenirNextCyr-Heavy; src: url(AvenirNextCyr-Heavy.ttf) }
@font-face { font-family: AvenirNextCyr-HeavyItalic; src: url(AvenirNextCyr-HeavyItalic.ttf) }
@font-face { font-family: AvenirNextCyr-Italic; src: url(AvenirNextCyr-Italic.ttf) }
@font-face { font-family: AvenirNextCyr-Light; src: url(AvenirNextCyr-Light.ttf) }
@font-face { font-family: AvenirNextCyr-LightItalic; src: url(AvenirNextCyr-LightItalic.ttf) }
@font-face { font-family: AvenirNextCyr-Medium; src: url(AvenirNextCyr-Medium.ttf) }
@font-face { font-family: AvenirNextCyr-MediumItalic; src: url(AvenirNextCyr-MediumItalic.ttf) }
@font-face { font-family: AvenirNextCyr-Regular; src: url(AvenirNextCyr-Regular.ttf) }
@font-face { font-family: AvenirNextCyr-Thin; src: url(AvenirNextCyr-Thin.ttf) }
@font-face { font-family: AvenirNextCyr-ThinItalic; src: url(AvenirNextCyr-ThinItalic.ttf) }
@font-face { font-family: AvenirNextCyr-UltraLight; src: url(AvenirNextCyr-UltraLight.ttf) }
@font-face { font-family: AvenirNextCyr-UltraLightIt; src: url(AvenirNextCyr-UltraLightIt.ttf) }